{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BBB</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" />
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm ">
        <h5 class="my-0 mr-md-auto font-weight-normal">GSHOW</h5>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">BIG BROTHER BRASIL</h1><br>
        <p class="lead">Votações abertas</p>
    </div>
    
    <div class="container">
        <!-- Button trigger modal -->
        <div class="text-center">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
                    VOTE AGORA
            </button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="">
                    <button type="button" class="close" data-dismiss="modal" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <h3 class="nomeProdutoHG">QUEM DEVE SER <b>ELIMINADO</b>?</h3>
                        </div>

                        <br>
                        <br>
                        <div class="container">
                            <div class="card-deck mb-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="card-title">Participante 1</h5>
                                            <div class="card">
                                                <img src="http://placehold.it/350x250" alt="" />
                                            </div>
                                            <p>Para eliminar o <b>Participante 1</b> pelo telefone disque <b>0800-123-001 ou mande um SMS para</b>8001</p>
                                        </div>
                                        <div class="col-sm-6">
                                                <h5 class="card-title">Participante 2</h5>
                                                <div class="card">
                                                    <img src="http://placehold.it/350x250" alt="" />
                                                </div>
                                                <p>Para eliminar o <b>Participante 2</b> pelo telefone disque <b>0800-123-002 ou mande um SMS para</b>8002</p>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="card-footer text-center">
                                        <form method="post" action="{% url 'voting' %}">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <br><input id="add" type="submit" value="Envie seu voto" class="btn btn-primary btn-lg"><br><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</body>
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</html>